.sidebar {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  background: white;
}

.sidebar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

.sidebar-top img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-bottom: 13px;
}

.sidebar-top p {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  margin-bottom: 2px;
}

.sidebar-top span {
  color: #8a91a6;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
}

.sidebar ul {
  margin-left: 30px;
  list-style-type: none;
}

.sidebar ul li {
  margin-top: 20px;
  color: #242121;
}

.sidebar ul li i {
  margin-right: 15px;
}

.sidebar ul li .active {
  margin-right: 15px;
  color: dodgerblue;
}

.wholewrapper {
  background: #565388;
  background: -webkit-gradient(linear, left top, right top, from(#565388), color-stop(34%, #090979), to(#044452));
  background: linear-gradient(90deg, #565388 0%, #090979 34%, #044452 100%);
}

.contentarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: calc(100vh - 105px - 80px);
}

.contentarea button {
  padding: 7px 20px;
  font-size: 1rem;
  border: none;
  background: #edbd55;
  color: white;
  width: 110px;
  border-radius: 22px;
  text-align: center;
  margin: 35px 0;
  cursor: pointer;
}

.contentarea button i {
  margin-right: 8px;
}

.contentarea .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentarea #intro {
  color: white;
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
}

.contentarea #introsub {
  color: #cecece;
  font-size: 0.9rem;
  margin-top: 8px;
}

.musicdetails {
  margin: 0px 0px 8px 0px;
  height: 50px;
  border-radius: 7px;
  width: 700px;
  color: white;
  background: rgba(158, 155, 155, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.musicdetailsinner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.musicdetailsinner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.musicdetails img:nth-child(2) {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 25px;
}

.musicdetails .label {
  margin-right: 40px;
  color: #8a91a6;
  font-size: 0.9rem;
}

.musiccard {
  width: 210px;
  height: 260px;
  overflow: hidden;
  margin: 10px;
}

.musiccard img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 30px 0px rgba(50, 50, 50, 0.22);
  box-shadow: 1px 5px 30px 0px rgba(50, 50, 50, 0.22);
}

.musiccard div p:nth-child(1) {
  font-weight: bold;
  font-size: 0.9rem;
}

.musiccard div p:nth-child(2) {
  font-size: 0.8rem;
  color: #8a91a6;
}

.musicplayer {
  background: grey;
  min-height: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.musicplayer .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.33;
      -ms-flex: 0.33;
          flex: 0.33;
}

.musicplayer .section1inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  color: white;
}

.musicplayer .section1inner p:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2px;
}

.musicplayer .section1 img {
  height: 100%;
  width: 98px;
}

.musicplayer .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0.33;
      -ms-flex: 0.33;
          flex: 0.33;
}

.musicplayer .section2 .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.musicplayer .section2 .upper p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-left: 15px;
}

.musicplayer .section2 .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
}

.musicplayer .section2 .lower input[type="range"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  -webkit-appearance: none;
  outline: none;
  height: 2px;
  margin: 0 8px;
}

.musicplayer .section2 .lower span {
  font-size: 0.9rem;
}

.musicplayer .section3 {
  -webkit-box-flex: 0.33;
      -ms-flex: 0.33;
          flex: 0.33;
}

.musicplayer .section3inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 18px;
}

.musicplayer .section3inner input[type="range"] {
  border: none;
  -webkit-appearance: none;
  outline: none;
  height: 2px;
  margin: 0 8px;
}

.musicplayer .section3inner p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-left: 15px;
}

#play {
  font-size: 1.6rem;
  border: 1px solid #b3b3b3;
  padding: 10px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

#play:hover {
  background: #676767;
}

#random,
#next,
#previous,
#repeat,
#speaker {
  font-size: 1.1rem;
  padding: 17px;
  height: 30px;
  width: 30px;
  border-radius: 25px;
}

#random:hover,
#next:hover,
#previous:hover,
#repeat:hover,
#speaker:hover {
  background: #676767;
}

#previous {
  font-size: 1.1rem;
  padding: 17px;
  height: 30px;
  width: 30px;
  border-radius: 25px;
}

#previous:hover {
  background: #676767;
}

nav {
  color: white;
  height: 80px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px calc((100vw - 1200px) / 2);
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .logo i {
  font-size: 2rem;
  margin-right: 8px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 18px;
}

nav ul li i {
  margin-left: 3px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.app {
  max-height: 100vh;
}
/*# sourceMappingURL=style.css.map */